.paomabeijing.okplay {
    -webkit-animation: pmbg 6s infinite linear normal none;
}

.paomabeijing {
    background-image: url(https://www.diandaniu.com/addons/meepo_xianchang/template/mobile/app/images/3dyyy/images/langan.png);
}

.paomabeijing {
    background-position-y: 0;
    background-size: 1920px 100%;
    height: 50%;
    width: 100%;
    position: absolute;
}
.paomabeijing2.okplay {
    -webkit-animation: pmbg 60s infinite linear normal none;
}
.paomabeijing2 {
    background-image: url(https://www.diandaniu.com/addons/meepo_xianchang/template/mobile/app/images/3dyyy/images/topbg.jpg);
}
.paomabeijing2 {
    background-position-y: 0;
    background-size: 1920px 100%;
    height: 50%;
    width: 100%;
    position: absolute;
}
@-webkit-keyframes pmbg {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: -1920px 100%;
    }
}
.countdown_box {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.yyy3d_title_box {
    background: url(https://www.diandaniu.com/addons/meepo_xianchang/template/mobile/app/images/swimming/images/djs_bg.png) no-repeat;
    width: 598px;
    height: 87px;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
    color: #fff;
    display: none;
}
.yyy3d_title_box {
    background: url(https://www.diandaniu.com/addons/meepo_xianchang/template/mobile/app/images/swimming/images/djs_bg.png) no-repeat;
    width: 598px;
    height: 87px;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
    color: #fff;
    display: none;
}
.track-start {
    position: inherit;
    background-size: contain;
    top: 0;
    left: 0;
    text-align: center;
    color: rgba(255,255,255,.38);
    font-family: Arial,Helvetica,sans-serif;
    transform: rotateX(50deg) skewX(-16deg);
}
.active {
	
}
.track-end {
    background-image: url(https://www.diandaniu.com/addons/meepo_xianchang/template/mobile/app/images/3dyyy/images/end_line.png);
}
.track-end {
    float: right;
    position: relative;
    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;
    top: -50px;
    display: none;
}
.tracklist .okplay {
    -webkit-animation: pmbg2 6s infinite linear normal none;
}
.tracklist {
    background-image: url(https://www.diandaniu.com/addons/meepo_xianchang/template/mobile/app/images/horse/images/bg.jpg);
}
.tracklist {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-position-y: 0;
    background-size: 1920px 100%;
}
@-webkit-keyframes pmbg2 {
    0% {
        background-position: 0 100%
    }

    100% {
        background-position: -1920px 100%
    }
}
.player {
    position: absolute;
    overflow: visible;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.yyytp {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}
.lunzia {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    border: 0;
    background: url(http://gamecat.top/paoma/client/img/sm1.gif) no-repeat;
    background-size: 100% 100%;
}
.lunzib.car0.okplay {
    background-image: url(http://gamecat.top/paoma/client/img/sm1.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -webkit-backface-visibility: visible;
    -webkit-transform-origin: center center;
    -webkit-animation: demo010 .5s 0s infinite steps(1);
}
.lunzib.car0 {
    background-image: url(http://gamecat.top/paoma/client/img/sm1.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.lunzib {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    border: 0;
}
.player .pnctx {
    position: absolute;
    height: 30px;
    top: -100px;
    right: 180px;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transform: rotate(22deg);
    transform-origin: 100% 50% 0;
}
.player .head {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: #fff no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    border: 2px solid #fff;
    transform: rotate(-22deg);
    transform-origin: 50% 50% 0;
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
}
.player .nickname {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    white-space: nowrap;
    position: absolute;
    top: 2px;
    right: 68px;
}
.pnctx::before {
    content: "";
    display: block;
    width: 50px;
    height: 0;
    position: absolute;
    border-top: 1px dashed #fff;
    top: 25px;
    right: -50px;
    transform: rotate(5deg);
    transform-origin: 100% 50% 0;
}

/*閬僵*/
.result-layer {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 90px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
}
.result-label {
    display:block;
    text-align: center;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 80px;
    font-family: Helvetica;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -40px;
    color: #ff0;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #ffa225, 0 0 70px #ffa342;
    z-index: 999;
}
.result-cup {
    display:block;
    position: absolute;
    top: 120px;
    bottom: 0px;
    left: 15%;
    right: 15%;
    background-color: rgba(0,0,0,.25);
    text-align: center;
    z-index: 999;
}
.phb-b1 {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
}
.phb-b2 {
    position: absolute;
    top: 80px;
    left: 20px;
    right: 20px;
    bottom: 80px;
    overflow: auto;
}
.phb-b3 {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 80px;
}
.phbbiaoge th {
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid rgba(245,245,245,.5);
}